#Guía 2: SQL

En esta guía usted deberá realizar consultas SQL en un servidor virtual con PostgreSQL que contiene
datos de películas extraídos de IMDb. El esquema de los datos es el siguiente:

* $\color{green}{\textbf{pelicula}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\underline{\text{anho}}}, \color{blue}{\text{calificacion}})$ 
* $\color{green}{\textbf{actor}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\text{genero}})$
* $\color{green}{\textbf{personaje}}(\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}},  \color{blue}{\underline{\text{a_nombre}}}, \color{blue}{\underline{\text{personaje}}})$

La tabla $\color{green}{\textbf{personaje}}$ usa llaves foráneas que hacen referencia a las tablas de $\color{green}{\textbf{actor}}(\color{blue}{\underline{\text{a_nombre}}})$ y $\color{green}{\textbf{pelicula}}(\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}})$.

Para iniciar el servidor virtual, instalar la base de datos postgres, y descargar los datos e importarlos, debe correr el siguiente bloque:

In [11]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
!wget -cO - https://drive.google.com/uc\?export\=download\&id\=1g7UsolqIt5CatIUiWKQNiQ4sT6zsCZnk > /content/guia2.sql
!psql postgres < /content/guia2.sql
%sql set search_path to guia;

Hit:1 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:2 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:3 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:4 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
0% [1 InRelease gpgv 15.9 kB] [Waiting for headers] [Waiting for headers] [Wait^C
 * Starting PostgreSQL 10 database server
   ...done.
ERROR:  role "root" already exists
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
--2022-03-23 20:59:00--  https://drive.google.com/uc?export=download&id=1g7UsolqIt5CatIUiWKQNiQ4sT6zsCZnk
Resolving drive.google.com (drive.google.com)... 108.177.119.102, 108.177.119.138, 108.177.119.101, ...
Connecting to drive.google.com (drive.google.com)|108.177.119.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-08-3k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/er7sqdadljkmbt7bm6fakc6m1t1lpgo6/1648069125000/16747396958771604789/*/1g7UsolqIt5CatIUiWKQNiQ4sT6zsCZnk?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-03-23 20:59:00--  https://doc-08-3k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/er7sqdadljkmbt7bm6fakc6m1t1lpgo6/1648069125000/16747396958771604789/*/1g7UsolqIt5CatIUiWKQNiQ4sT6zsCZnk?e=download
Resolving doc-08-3k-docs.googleusercontent.com (doc-08-3k-docs.googleusercontent.com)... 108.177.127.132, 2a00:1450:4013:c07::84
Connecting to doc-08-3k-docs.googleusercontent.com (doc-08-3k-docs.googleusercontent.com)|108.177.127.132|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2022-03-23 20:59:00 ERROR 403: Forbidden.

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

Ejecute la siguiente consulta para probar que todo ande bien:

In [1]:
%sql select * from pelicula;

UsageError: Line magic function `%sql` not found.

Para ejecutar consultas multi-lineas use el tag %%sql:

In [8]:
%%sql
SELECT * FROM 
pelicula
where nombre ilike '%terminator%';

 * postgresql+psycopg2://@/postgres

                       nombre  anho  calificacion
0  Terminator 2: Judgment Day  1991           8.5
1              The Terminator  1984           8.0

Ahora, debe diseñar las consultas que resuelvan las siguientes preguntas usando los operadores vistos en clases.

#SQL
## Pregunta 1
Las películas de los 80s, ordenadas por calificación de mayor a menor.

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

## Pregunta 2
Los nombres de los personajes que ha interpretado su actriz/actor favorito en los datos, ordenados por año.

# Pregunta 3
Las películas en las que participó su actriz/actor favorito en los datos, ordenadas por calificación de mayor a menor.

## Pregunta 4
Los nombres de los personajes interpretados por mujeres, en películas de los 90s, con calificación mayor a 8,7.

## Pregunta 5
Las películas de la saga "The Lord of the Rings" (usando el prefijo de su nombre) ordenadas por calificación y por año.

## Pregunta 6
Los nombres de los actores que interpretan más de un personaje en la misma película.

## Pregunta 7
Las películas en que actúan juntos Uma Thurman y Samuel L. Jackson.

## Pregunta 8
Las películas en que actúa Uma Thurman y **no** Samuel L. Jackson.

## Pregunta 9
Los pares de actores que aparecen juntos en más de una película. Cada par debe aparecer una sola vez, es decir, si $(A,B)$ aparece, no debe aparecer $(B,A)$, pues es el mismo par. Tampoco se deben incluir pares de la forma $(A,A)$.

## Pregunta 10
La película con calificación más alta.